<!-- FLORAL BACKGROUND with LEADING INFO -->
<div class="container-fluid h-auto p-0 m-0">
    <div class="col-12 w-100  d-flex flex-column justify-content-start align-items-center" id="my-about-background">
      <h1 id="my-about-title1" class="fw-bold">GIVE WITH MEANING</h1>
      <p class="my-about-text text-center opacity-75">For over 110 years, as the floral-gifting experts, we’ve been helping you give with more care, with greater ease, and with more meaning.<br>  
        Established in 1910 as a collective of 10 florists, Florists’ Transworld Delivery (FTD) used the telegraph to transform the age-old practice of flower-giving. 
        We understood then the unique power of flowers to express a sentiment and helped people across the world “Say it with flowers.” 
        Today, we have grown into an extensive network made up of thousands of local florists — each one an artisan who is handcrafting and hand-delivering fine bouquets all across the country.
        <br>
        When you’re giving with FTD you’re giving the gift of joy, strength, and love and you're giving it with meaning.
      </p>
      <h2 id="my-about-title2"  class="fw-bold">FTD.com Affiliate Program</h2>
      <p class="my-about-text opacity-75">Advertise FTD.com on your site and get 5% on your users' purchases</p>
    </div>
</div>
<!-- MORE INFO -->
<div class="container mb-3">
  <div class="row">
    <!-- ADVERTISE -->
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column align-items-center px-3">
      <h3 class="my-about-title3 fw-bold">Advertise</h3>
      <p class="my-about-text mb-0">Advertise FTD on your website</p>
      <hr class=" w-100" />
      <p class="my-about-text my-about-space">Why Partner with FTD?</p>
      <p class="my-about-text px-3 text-center">After 100 years in business, we know a thing or two about flowers! 
        In fact, we invented the world's first floral network and are one of America's most recognizable brands. 
        Our century of success is built on industry leading standards for floral quality, artistry, and reliability. 
        Join the FTD affiliate program and start generating revenue for your site.
      </p>
    </div>
    <!-- CONVERT -->
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column align-items-center px-3">
      <h3 class="my-about-title3 fw-bold">Convert</h3>
      <p class="my-about-text mb-0">Upon ad selection users are taken to product</p>
      <hr  class=" w-100"/>
      <p class="my-about-text my-about-space">What can you expect?</p>
      <div class="my-about-text px-3 text-center">
        <ul class="px-4">
          <li>Full time dedicated and experienced Affiliate Manager</li>
          <li>Competitive commission and attractive conversion rate</li>
          <li>Daily reporting through CJ Affiliate</li>
          <li>Affiliation with the oldest and most recognized floral organization and Brand in the world</li>
          <li>Industry leading, best in class affiliate exclusive discounts</li>
          <li>We deliver to almost 100% of the US residents and to major Canadian Metropolitan areas</li>
          <li>A customizable mobile site with technology that works on hundreds of devices</li>
          <li>Product feed available</li>
          <li>Same day delivery avaiable</li>
        </ul>
      </div>
    </div>
    <!-- EARN -->
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column align-items-center px-3">
      <h3 class="my-about-title3 fw-bold">Earn</h3>
      <p class="my-about-text mb-0">Earn 5% commission across all products & categories.</p>
      <hr  class=" w-100"/>
      <p class="my-about-text my-about-space">How do I join?</p>
      <p class="my-about-text px-3 text-center">Join now through CJ Affiliate. 
        If you have questions about becoming an affiliate of FTD, please contact us at:FTD-Affiliate@ftdi.com
      </p>
    </div>
  </div>
</div>
