<nav class="navbar navbar-expand-lg navbar-light bg-light p-0" id="my-navbar">
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-between py-1 w-100">
        <!-- Toggle collapse button (Hamburger button) -->
        <button class="navbar-toggler py-0 px-2 w-auto rounded-1" id="my-nav-button" type="button" data-bs-toggle="collapse" data-bs-target="#my-nav-left" aria-controls="my-nav-left" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" id="my-nav-hamburgermenu"></span>
        </button>
        <!-- Content that we toggle -->
        <div class="collapse navbar-collapse flex-lg-row flex-md-column flex-sm-column justify-content-between" id="my-nav-left">
            <a href="/" class="d-flex align-items-center col-md-3 mb-0 text-dark text-decoration-none">
              <img src="../../../assets/Resursi/flowerLogo.png" width="85px">
            </a>
            <ul class="navbar-nav col-12 col-md-auto justify-content-center mb-0" id="my-list">
              <li><a href="#" class="nav-link link-secondary p-0 mx-lg-2 mx-md-0 my-1">Home</a></li>
              <li><a href="#" class="nav-link link-secondary p-0 mx-lg-2 mx-md-0 my-1" routerLink="/about">About</a></li>
              <li><a href="#" class="nav-link link-secondary p-0 mx-lg-2 mx-md-0 my-1" routerLink="/shop">Shop</a></li>
              <li><a href="#" class="nav-link link-secondary p-0 mx-lg-2 mx-md-0 my-1">Contact</a></li>
            </ul>
        </div>
        <!-- More options (User, login and Shopping icons)-->
        <div class=" dropdown d-flex flex-row justify-content-lg-end justify-content-md-start" id="my-nav-right">
          <a id="my-loginHeader" class="d-flex align-items-center text-decoration-none text-dark align-middle">
            <ng-template [ngIf]="authService.isLoggedIn">
              <div class="nav-item my-0 mx-2">
                  <a class="nav-link" (click)="authService.signOut()">Logout</a>
              </div>
            </ng-template>
            <ng-template [ngIf]="!authService.isLoggedIn">
                <div class="nav-item my-0 mx-2">
                    <a class="nav-link" routerLink="/login">Login</a>
                </div>
            </ng-template>
          </a>
          <a class="text-dark " routerLink="/cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i><mat-icon matBadge="{{amountOfProducts}}"></mat-icon>
          </a>
        </div>
      </header>
    </div>
  </nav>
  
  
