<mat-sidenav id="my-sidenav" class="d-flex m-auto justify-content-center align-items-center rounded-start p-1" mode="over" [opened]="opened" position="end">
    <!-- <i class="fa fa-facebook" aria-hidden="true"></i><br/> -->
    <div class="h-100 d-flex flex-column justify-content-center align-items-center">
    <p class=" text-center">
    <i class="fa-brands fa-facebook-f sizeIcon"></i><br/>
    </p>
    <!-- <i class="fa fa-twitter" aria-hidden="true"></i><br/> -->
    <p class=" text-center">
    <i class="fa-brands fa-twitter sizeIcon"></i><br/>
    </p>
    <!-- <i class="fa fa-pinterest-p" aria-hidden="true"></i><br/> -->
    <p class=" text-center">
    <i class="fa-brands fa-pinterest-p sizeIcon"></i><br/>
    </p>
    <!-- <i class="fa fa-youtube-play" aria-hidden="true"></i><br/> -->
    <p class="text-center">
    <i class="fa-brands fa-youtube sizeIcon"></i><br/>
    </p>
    <!-- <i class="fa fa-instagram" aria-hidden="true"></i> -->
    <p class=" text-center m-0">
    <i class="fa-brands fa-instagram sizeIcon"></i>
    </p>
    </div>
  </mat-sidenav>
