/* You can add global styles to this file, and also import other style files */
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* set the font "ROBOTO" for all elements */
    * {
        font-family: 'Roboto', sans-serif;
    }

/* get rid of sidebar shading */
.mat-drawer-shown {
    visibility: hidden! important;
}

/* black button for HomeComponent */
.my-black-Button {
    font-size: 15px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/* add error message to warn user about problem - make it red */
  
.my-error-red {
    color: red;
    padding-left: 8px !important; 
    font-size: 10px;
  }